{% load static %}
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Instructors
      </h6>
      {% if department %}
      <h1 class="mb-5">{{department.name}}</h1>
      {% endif %}
    </div>
    <div class="row g-4">
      {% if all_members %} {% for member in all_members %}
      <div
        class="col-lg-3 col-md-6 wow fadeInUp"
        data-wow-delay="{{member.delay}}s"
      >
        <div class="team-item bg-light">
          <div class="overflow-hidden">
            <img
              class="img-fluid"
              src="{{member.image_url}}"
              alt="{{member.image_name}}"
            />
          </div>
          <div
            class="position-relative d-flex justify-content-center"
            style="margin-top: -23px"
          >
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
              <a
                class="btn btn-sm-square btn-primary mx-1"
                href="{{member.facebook_url}}"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-sm-square btn-primary mx-1"
                href="{{member.viber_url}}"
                ><i class="fab fa-viber"></i
              ></a>
              <a
                class="btn btn-sm-square btn-primary mx-1"
                href="{{member.instagram_url}}"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">{{member.name}}</h5>
            <small>{{member.position}}</small>
          </div>
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</div>
