{% load static %}
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Blogs
      </h6>
      <h1 class="mb-5">Recent Blogs</h1>
    </div>
    {% if blogs %}
    <div class="row g-4 justify-content-center">
      {% for blog in blogs %}
      <div
        class="col-12 col-lg-4 col-md-6 wow fadeInUp"
        data-wow-delay="{{ blog.delay }}s"
      >
        <article>
          <div class="card border-0 bg-transparent">
            <figure class="card-img-top mb-4 overflow-hidden bsb-overlay-hover">
              <a href="{{ blog.get_absolute_url }}">
                <img
                  class="img-fluid bsb-scale bsb-hover-scale-up"
                  loading="lazy"
                  src="{{blog.image_url}}"
                  alt="{{blog.title}}"
                />
              </a>
              <figcaption>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  fill="currentColor"
                  class="bi bi-eye text-white bsb-hover-fadeInLeft"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                  />
                  <path
                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
                  />
                </svg>
                <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">
                  Read More
                </h4>
              </figcaption>
            </figure>
            <div class="card-body m-0 p-0">
              <div class="entry-header mb-3">
                <ul class="entry-meta list-unstyled d-flex mb-3">
                  <li>
                    <a
                      class="d-inline-flex px-2 py-1 link-primary text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2 text-decoration-none fs-7"
                      href="#!"
                      >{{blog.category}}</a
                    >
                  </li>
                </ul>
                <h2 class="card-title entry-title h4 m-0">
                  <a
                    class="link-dark text-decoration-none"
                    href="{{blog.get_absolute_url}}"
                    >{{blog.title}}</a
                  >
                </h2>
              </div>
            </div>
            <div class="card-footer border-0 bg-transparent p-0 m-0">
              <ul
                class="entry-meta list-unstyled d-flex align-items-center m-0"
              >
                <li>
                  <a
                    class="fs-7 link-secondary text-decoration-none d-flex align-items-center"
                    href="{{blog.get_absolute_url}}"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="14"
                      height="14"
                      fill="currentColor"
                      class="bi bi-calendar3"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
                      />
                      <path
                        d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                      />
                    </svg>
                    <span class="ms-2 fs-7"
                      >{{blog.created_at|date:"F j, Y"}}</span
                    >
                  </a>
                </li>
                <li>
                  <span class="px-3">&bull;</span>
                </li>
                <li>
                  <a
                    class="link-secondary text-decoration-none d-flex align-items-center"
                    href="{{blog.get_absolute_url}}"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-person-check-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"
                      />
                      <path
                        d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
                      />
                    </svg>
                    <span class="ms-2 fs-7">{{blog.author}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
