{% extends 'assets/main.html' %} {% block main %} {% load static %}

<!-- Carousel Start -->
{% include 'assets/carousel_section.html' %}
<!-- Carousel End -->

<!-- Service Start -->
{% include 'assets/service_section.html' %}
<!-- Service End -->

<!-- About Start -->
{% include 'assets/about_section.html' %}
<!-- About End -->

<!-- Department Start -->
{% include 'assets/department_section.html' %}
<!-- Team End -->

<!-- Testimonial Start -->
{% include 'assets/testimonial_section.html'%}
<!-- Testimonial End -->

<!-- Recent Blogs Start -->
{% include 'assets/recent_blog_section.html' %}
<!-- Recent Blogs End -->

{% endblock %}
